body {
  position: relative;
  padding: 0;
  margin: 0;
  line-height: 30px;
  font-family: 'PT Sans', sans-serif;
  font-size: 18px;
  color: #363636;
  background-color: #000;
}

* {
  padding: 0;
  margin: 0;
  border-radius: 2px;
  border: 0 solid;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.container {
  width: 98%;
  margin: 0 auto;
}

.show,
.slow {
  -o-transition: all 0.4s ease-in;
  -moz-transition: all 0.4s ease-in;
  -webkit-transition: all 0.4s ease-in;
  transition: all 0.4s ease-in;
}

input[type=text],
input[type=range] {
  background: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

input[type=text],
input[type=password] {
  width: 100%;
  padding: 8px 34px;
  height: 38px;  /* For Firefox */
  line-height: 18px;
  font-family: 'PT Sans', sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #8e9197;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  border-radius: 6px;
  -moz-box-shadow: 0 2px 10px 4px #f0f0ee;
  -webkit-box-shadow: 0 2px 10px 4px #f0f0ee;
  box-shadow: 0 2px 10px 4px #f0f0ee;
}

input:focus {
  outline: 0;
}

/* Header Navigation */

.navigation-grid {
  padding: 20px;
  text-align: center;
}

.navigation-grid .href {
  display: inline-block;
  margin: 4px;
  padding: 4px 8px;
  line-height: 24px;
  letter-spacing: 1px;
  font-size: 16px;
  text-decoration: none;
  color: #fff;
  cursor: pointer;
}

.navigation-grid .active {
  -moz-box-shadow: inset 0 0 30px -10px #fff;
  -webkit-box-shadow: inset 0 0 30px -10px #fff;
  box-shadow: inset 0 0 30px -10px #fff;
}

/* Horizontal Lists */

.top-grid {
  border-radius: 2px;
  border: 2px solid #fff;
}

.top-grid .logo {
  display: block;
  width: 202px;
  height: 36px;
  margin: 4px;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}

/* Table Grids */

.table-grid {
  display: table;
  width: 101%;
  margin: 0 -0.5%;
  table-layout: fixed;
  border-collapse: collapse;
}

.table-grid > .td {
  display: table-cell;
  padding: 1%;
  vertical-align: top;
}

.col_1 {
  width: 10px;
}

.col_2 {
  width: 20px;
}

.col_3 {
  width: 30px;
}

.col_4 {
  width: 40px;
}

.col_5 {
  width: 50px;
}

.col_6 {
  width: 60px;
}

.col_7 {
  width: 70px;
}

.col_8 {
  width: 80px;
}

.col_10 {
  width: 100px;
}

/* Lists */

.list-grid .box {
  padding-bottom: 14px;
}

.list-grid .title {
  position: relative;
  padding: 3px 4px 3px 30px;
  margin-bottom: 4px;
  line-height: 18px;
  font-size: 14px;
  font-weight: 400;
  color: #fff;
  border-radius: 4px;
  border: 2px solid #fff;
}

.list-grid .title::before {
  content: ' ';
  position: absolute;
  top: 4px;
  bottom: 4px;
  left: 18px;
  width: 2px;
  background-color: #fff;
}

.list-grid .content {
  padding: 5px 10px;
  border-radius: 1px;
  border: 2px solid #fff;
}

.list-grid .href {
  padding: 5px 10px;
  line-height: 18px;
  font-size: 14px;
  font-weight: 400;
  color: #fff;
  cursor: pointer;
}

.list-grid .href:hover {
  text-decoration: underline;
  color: #2084d8;
}

/* Cross Styles */

.relative {
  position: relative;
}

.error-msg,
.info-msg {
  padding: 20px;
  line-height: 24px;
  letter-spacing: 1px;
  font-family: 'Merriweather', serif;
  font-size: 16px;
  font-weight: 400;
  text-align: center;
}

.fix-overflow {
  overflow: hidden;
}

.error-msg {
  color: #dc6363;
}

.info-msg {
  color: #15859e;
}

.center-box {
  display: table;
  margin: 0 auto;
}

.delay {
  max-height: 0;
  overflow: hidden;
}

.show {
  max-height: 10000px;
}

.left-side {
  float: left;
}

.right-side {
  float: right;
}

.clear {
  content: ' ';
  display: table;
  floaT: none!important;
  clear: both;
}
